In [ ]:
import pandas as pd
import numpy as np

In [46]:
# Example for Google Drive path
file_path = '/home/yogesh/genai/stock price prediction/notebook/cleaned_stock_data.csv'

# Load CSV
df = pd.read_csv(file_path)

# Show first 5 rows
df.head()

,Date,Open,High,Low,Close,Volume,Stock Splits
0,1997-05-15 04:00:00+00:00,0.121875,0.125000,0.096354,0.097917,1443120000,0.0
1,1997-05-16 04:00:00+00:00,0.098438,0.098958,0.085417,0.086458,294000000,0.0
2,1997-05-19 04:00:00+00:00,0.088021,0.088542,0.081250,0.085417,122136000,0.0
3,1997-05-20 04:00:00+00:00,0.086458,0.087500,0.081771,0.081771,109344000,0.0
4,1997-05-21 04:00:00+00:00,0.081771,0.082292,0.068750,0.071354,377064000,0.0

In [47]:
df = df.drop(columns=[ 'Stock Splits'])

In [48]:
# check for NaN values
if data.isnull().values.any():
    print("Data contains NaN values. Dropping rows with NaN values.")
    # Drop rows with NaN values
    data = data.dropna()
# check for duplicate rows
if data.duplicated().any():
    print("Data contains duplicate rows. Dropping duplicate rows.")
    # Drop duplicate rows
    data = data.drop_duplicates()

In [49]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
# 1. Feature Engineering on Date
# ===============================
# Convert 'Date' column to datetime
df['year'] = pd.to_datetime(df['Date']).dt.year
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

In [51]:
df.head()

,Date,Open,High,Low,Close,Volume,year,Month,Day
0,1997-05-15 04:00:00+00:00,0.121875,0.125000,0.096354,0.097917,1443120000,1997,5,15
1,1997-05-16 04:00:00+00:00,0.098438,0.098958,0.085417,0.086458,294000000,1997,5,16
2,1997-05-19 04:00:00+00:00,0.088021,0.088542,0.081250,0.085417,122136000,1997,5,19
3,1997-05-20 04:00:00+00:00,0.086458,0.087500,0.081771,0.081771,109344000,1997,5,20
4,1997-05-21 04:00:00+00:00,0.081771,0.082292,0.068750,0.071354,377064000,1997,5,21

In [52]:
df = df.dropna().reset_index(drop=True)

In [53]:
df = df.drop(columns=['Date'])

In [54]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)

In [55]:
df.head()

       Open      High       Low     Close      Volume  year  Month  Day
0  0.121875  0.125000  0.096354  0.097917  1443120000  1997      5   15
1  0.098438  0.098958  0.085417  0.086458   294000000  1997      5   16
2  0.088021  0.088542  0.081250  0.085417   122136000  1997      5   19
3  0.086458  0.087500  0.081771  0.081771   109344000  1997      5   20
4  0.081771  0.082292  0.068750  0.071354   377064000  1997      5   21

In [62]:
df_final = df[['Open', 'High', 'Low', 'Close', 'Volume', 'year', 'Month', 'Day']]

# Optionally, add new features if beneficial
df_final['Price_Range'] = df_final['High'] - df_final['Low']
df_final['Average_Price'] = (df_final['High'] + df_final['Low']) / 2

# Target column for prediction
# If you're predicting 'Close', then define:
target_col = 'Close'

In [64]:
# save the preprocessed data to a new CSV file
output_file_path = '/home/yogesh/genai/stock price prediction/notebook/preprocessed_stock_data.csv'
df_final.to_csv(output_file_path, index=False)